.alecia-background {
    background-image: url("./images/alecia-background-mobile.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.alecia-font {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
}

.support-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


@media (min-width: 1025px) {


.alecia-background {
    background-image: url("./images/alecia-background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

